[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
asyncpg = "*"
alembic = "*"
python-docx = "*"
pydantic-settings = "*"
pydantic = {extras = ["email"], version = "*"}

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
